<%= form_for(@event) do |f| %>
<div class="form-group">
  <%= f.label :photo %>
  <%= f.file_field :photo %>
</div>
<div class="form-group">
  <%= f.label :title %>
  <%= f.text_field :title, class: "form-control" %>
</div>
<div class="row">
  <div class="form-group col-md-6">
    <%= f.label :date_start %>
    <%= f.text_field :date_start, class: "form-control" %>
  </div>
  <div class="form-group col-md-6">
    <%= f.label :end_date %>
    <%= f.text_field :end_date, class: "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :local %>
  <%= f.text_field :local, class: "form-control" %>
</div>
<div class="form-group ">
  <%= f.label :description %>
  <%= f.text_area :description, class: "form-control" %>
</div>
<%= f.submit %>
<% end %>