<div class="text-center">
	<h2>Meus eventos</h2>
</div>
<hr class="star-primary">

<table class="table table-condensed table-bordered">
<thead>
	<tr>
		<th>Título</th>
		<th>Data</th>
		<th>Local</th>
		<th>###</th>
	</tr>
</thead>
	<% @events.each do |event| %>
		<tr>
			<td><%= event.title %></td>
			<td><%= l(event.date_time, format: :short) %></td>
			<td><%= event.local %></td>
			<td>
				<%= link_to "Mais detalhes", event_path(event), class: "btn btn-xs btn-default" %>
				<%= link_to "Editar", edit_event_path(event), class: "btn btn-xs btn-warning" %>	
			</td>
		</tr>
	<% end %>
</table>

<div class="text-center">
	<%= paginate @events %>
</div>