<div class="portfolio-modal">
  <div class="modal-content">
    <%= link_to(events_path, class: "close-modal") do %>
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    <% end %>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2><%= @event.title %></h2>
            <hr class="star-primary">
            <%= link_to(@event.photo.url, class: "event_image_original") do %>
              <%= image_tag @event.photo.url(:banner), class: "img-responsive img-centered" %>
            <% end %>
            <p><%= @event.description %></p>
            <ul class="list-inline item-details">
              <li>Organizador:
                <strong><a href="#"><%= @event.user.email %></a>
                </strong>
              </li>
              <li>Data:
                <strong><a href="#"><%= l(@event.date_time, format: :when) %></a>
                </strong>
              </li>
              <li>Local:
                <strong><a href="#"><%= @event.local %></a>
                </strong>
              </li>
              <% if policy(@event).update? %>
                <li>
                  <strong>
                    <%= link_to "Editar", edit_event_path(@event, image: @event.photo.url, popup: true) %>
                  </strong>
                </li>
              <% end %>
              <li>
                <div class="fb-share-button" 
                  data-href="<%= event_url(@event) %>" 
                  data-layout="button_count">
                </div>
              </li>  
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
