<div class="portfolio-modal">
  <div class="modal-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2><%= @event.title %></h2>
            <hr class="star-primary">
            <%= image_tag @event.photo.url, class: "img-responsive img-centered" %>
            <p><%= @event.description %></p>
            <ul class="list-inline item-details">
              <li>Organizador:
                <strong><a href="#"><%= current_user.email %></a>
                </strong>
              </li>
              <li>Data:
                <strong><a href="#"><%= l(@event.date_time, format: :when) %></a>
                </strong>
              </li>
              <li>Local:
                <strong><a href="#"><%= @event.local %></a>
                </strong>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
